doctype
html
	head
		meta(charset='utf8')
		title cas.js
		link(rel='stylesheet', href='style.css')
		link(rel='stylesheet', href='katex/katex.min.css')
		script(src='parser.js')
		script(src='cas.js')
		script(src='katex/katex.min.js')
	body
		main
			input#in
			pre#out-raw
			.tex#out-tex
			pre#simplified-raw
			.tex#simplified-tex
		script(src="main.js")
